{% extends 'base.html' %}
{% load static %}}

{% block title %}
    MyBlog
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <p>index.html</p>
    <p><a href="{% url 'create' %}">新規投稿</a></p>
    {% for article in article_list %}
        <div class="article">
            <div class="article-title">
                <p><a href="{% url 'detail' article.pk %}">{{ article.title }}</a></p>
            </div>
            <div class="article-content">
                <p>{{ article.content }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}